// @import '../../../../node_modules/material-design-icons-iconfont/src/material-design-icons.scss';

$text-color:#081d04;
$bg-color: #a9c2be;
$bg-color-2: #8cb6af;
$accent-main: #9c27b0;
$accent-secondary: #b0273c;

$color-bg-navbar: #033076;
$color-bg-normal:#4b4237;
$color-bg-light:#0844a4;
$color-bg-dark:#232323;
$color-font:#ffffff;
$color-bg-error:#840705;
$color-error:#e61610;
$color-warn:#f4eb49;
