@import "../../variables/colors.scss";


$focus-border-radius: 3px;
.search {
	background-color: $color-bg-light;
	height: fit-content;
	border-radius: 2em;
	display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  padding: 0em;
  position:relative;
  .searchIcon {
    position: absolute;
    left: 0.2em;
  }
	input.text {
    box-sizing: border-box;
    margin: 0.2em 0.4em;
		background-color: $color-bg-light;
    border-radius: 2em; 
    padding: 0.45em;
    text-align: left;
    padding-left: 3em;
    border: $focus-border-radius solid $color-bg-light;
    transition: border-color 0.2s ease-in-out;
    margin:0;
	}
  input.text:focus{
    outline: none;
    border: $focus-border-radius solid $accent-main;
  }
}

